<!doctype html>
<html lang="en" ng-app="app">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">

        <title>Organspenden Newsgame</title>

        <link rel="stylesheet" type="text/css" href="style/main.css">


        <!--<script type="text/javascript" src="vendor/angular/angular.min.js"></script>-->
        <!--<script type="text/javascript" src="vendor/angular/angular-dragdrop.min.js"></script>-->
        <!--<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>-->

        <script data-require="angular.js@1.1.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js" data-semver="1.1.5"></script>

        <script src="vendor/angular/angular-dragdrop.min.js"></script>

        <script type="text/javascript" src="script/app.js"></script>

    </head>

    <body ng-controller="JsonLoaderCtrl">

        <section class="welcome popup"></section>
        <section class="results popup"></section>
        <section class="event popup"></section>

        <div class="wrapper">
            <aside>
                <h1>{{data.applicationName}}</h1>
                <section class="organs">

                    <!--<div class="container">-->
                        <!--<div class="fixed-red-bg" ui-draggable="true" drag="1" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(1, $data)" drop-validate="dropValidate(1, $data)">-->
                        <!--</div>-->
                        <!--&nbsp;-->
                        <!--<div class="fixed-green-bg" ui-draggable="true" drag="2" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(2, $data)" drop-validate="dropValidate(2, $data)">-->
                        <!--</div>-->
                        <!--&nbsp;-->
                        <!--<div class="fixed-blue-bg" ui-draggable="true" drag="3" drag-channel="A" drop-channel="A" ui-on-drop="onDrop(3, $data)" drop-validate="dropValidate(3, $data)">-->
                        <!--</div>-->
                    <!--</div>-->

                    <div ng-repeat="organ in organs"  ui-draggable="true" drag="{{organ}}" drag-channel="A"  >
                        <p>{{organ.type}}</p>
                    </div>

                </section>
                <section class="campaign">
                    <div class="campaign-progress"></div>
                    <button class="start-campaign">Spendenkampagne starten</button>
                </section>
            </aside>

            <main>
                <section class="patients">


                    <div class="patient"  drop-channel="A" ui-on-drop="onDrop(patient, $data)" ng-repeat="patient in patients | orderBy:'health'" >

                        <img class="patient-picture" src="img/person-lebendig.svg"
                             alt="This picture loads on non-supporting browsers."/>
                        <img class="patient-organ" src=""/>

                        <div class="patient-status">
                            <div>{{patient.organ}}</div>
                            <div class="indicator patient-health">
                                <div class="bar" style="width: {{patient.health}}%;"></div>
                                <div class="text">{{patient.health}}</div>
                            </div>
                            <div class="patient-chances">{{patient.chances}}</div>
                            <div class="patient-chances">{{patient.type}}</div>
                            <div class="patient-chances">{{patient.saved}}</div>
                        </div>
                    </div>
                </section>
                <section class="status"></section>
            </main>
        </div>

        <section class="loading"></section>

    </body>

</html>
