<!doctype html>
<html lang="en" ng-app="app">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">

        <title>Organspenden Newsgame</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="style/main.css">


        <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>

        <script src="vendor/angular/angular-dragdrop.min.js"></script>

        <script type="text/javascript" src="script/app.js"></script>

    </head>

    <body ng-controller="JsonLoaderCtrl">

        <section class="welcome popup"></section>
        <section class="results popup"></section>
        <section class="event popup"></section>

        <header><h1>{{data.applicationName}}</h1></header>
        <div class="wrapper">
            <aside class="organ-list">

                <section class="organs">

                    <div ng-repeat="organ in organs" ui-draggable="true" drag="{{organ}}" drag-channel="A"
                         ng-show="organ.unused">
                        <img class="organ-picture" src="img/organ/{{organ.type}}.svg"
                             alt="This picture loads on non-supporting browsers."/>
                    </div>

                </section>
                <section class="campaign">
                    <div class="campaign-progress"></div>
                    <button class="start-campaign">Spendenkampagne starten</button>
                </section>
            </aside>

            <main>
                <section class="patients" ng-controller="RenderController">


                    <div class="patient" drop-channel="A" ui-on-drop="onDrop(patient, $data)"
                         ng-repeat="patient in patients" on-finish-render="done">

                        <div ng-switch on="patient.saved">
                            <img ng-switch-when="false" class="patient-picture"
                                 src="img/person-rot-{{patient.type}}.svg"
                                 alt="This picture loads on non-supporting browsers."/>
                            <img ng-switch-when="true" class="patient-picture" src="img/person-lebendig.svg"
                                 alt="This picture loads on non-supporting browsers." ng-show="patient.saved"/>
                        </div>


                        <div class="patient-status">
                            <div>{{patient.organ}}</div>
                            <div class="indicator patient-health">
                                <div class="bar" style="width: {{patient.health}}%;"></div>
                                <div class="text" ng-hide="patient.dead">{{patient.health}}</div>
                                <div ng-show="patient.dead">Tot.</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="status"></section>
            </main>
            <aside class="result-content">
                <p>{{savedCounter}}</p>
                <img class="saved-picture"
                     src="img/person-lebendig.svg"
                     alt="This picture loads on non-supporting browsers."/>
            </aside>
        </div>

        <section class="loading"></section>

    </body>

</html>
