<!doctype html>
<html lang="en" ng-app="app">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">

        <title>Organspenden Newsgame</title>

        <link rel="stylesheet" type="text/css" href="style/main.css">


        <!--<script type="text/javascript" src="vendor/angular/angular.min.js"></script>-->
        <!--<script type="text/javascript" src="vendor/angular/angular-dragdrop.min.js"></script>-->
        <!--<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>-->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script src="vendor/angular/angular-dragdrop.min.js"></script>

        <script type="text/javascript" src="script/app.js"></script>

    </head>

    <body ng-controller="JsonLoaderCtrl">

        <section class="welcome popup"></section>
        <section class="results popup"></section>
        <section class="event popup"></section>

        <div class="wrapper">
            <aside>
                <h1>{{data.applicationName}}</h1>
                <section class="organs">
                    <!--<div class="organ"-->
                         <!--data-drag="true"-->
                         <!--data-jqyoui-options="{revert: 'invalid'}"-->
                         <!--ng-repeat="organ in organs">{{organ.type}}</div>-->

                    <div class="btn btn-droppable" ng-repeat="organ in organs" data-drop="true" ng-model='list5' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=list5])'}"  jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="organs" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{organ.type}}</div>
                    </div>

                </section>
                <section class="campaign">
                    <div class="campaign-progress"></div>
                    <button class="start-campaign">Spendenkampagne starten</button>
                </section>
            </aside>

            <main>
                <section class="patients">
                    <div class="patient" ng-repeat="patient in patients | orderBy:'health'" >

                        <img class="patient-picture" src="img/person-lebendig.svg"
                             alt="This picture loads on non-supporting browsers."/>
                        <img class="patient-organ" src=""/>

                        <div class="patient-status">
                            <div>{{patient.organ}}</div>
                            <div class="indicator patient-health">
                                <div class="bar" style="width: {{patient.health}}%;"></div>
                                <div class="text">{{patient.health}}</div>
                            </div>
                            <div class="patient-chances">{{patient.chances}}</div>
                        </div>
                    </div>
                </section>
                <section class="status"></section>
            </main>
        </div>

        <section class="loading"></section>

    </body>

</html>
