html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  color: #fff;
  background: #676767;
  font-size: 1.6em;
  text-transform: uppercase;
}

p{
  font-weight: 300;
}
