html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  height: 100%;
}


.fixed-red-bg {
  background: #880000;
  border: solid 2px;
  height: 3em;
  width: 3em;
  cursor: pointer;
}

.fixed-green-bg {
  background: #008800;
  border: solid 2px;
  height: 3em;
  width: 3em;
  cursor: pointer;
}

.fixed-blue-bg {
  background: #000088;
  border: solid 2px;
  height: 3em;
  width: 3em;
  cursor: pointer;
}
