.wrapper {
//  display: flex;
//  flex-flow: row nowrap;
  font-weight: 400;
  text-align: center;
  /* height: 100%; */
  position: absolute;
  top: 95px;
  bottom: 0px;
  left: 0;
  right: 0;
}

aside {
  width: 250px;
  top: 0;
  bottom: 0;

}

.organs {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  width: 250px;
  overflow: auto;
}

.organ-list {
  border-right: 1px solid #ccc;
position: absolute;
  left: 0;
}

.result-content {
  border-left: 1px solid #ccc;
  position: absolute;
  right: 0;
}

main {
//  flex: 3 0px;
  position: absolute;
  left: 250px;
  /* float: left; */
  right: 250px;
  overflow: auto;
  background: #ffffff;
  overflow: auto;
  background: #ffffff;
}

.patient {
  width: 45px;
  display: inline-block;
  margin: 1em 3em 1em 0;

  img {
    width: 100%;
  }
}

.organ {
  margin: 0.2em;
  background: #ffffff;
}

.patient-health {
  width: 100%;
  height: 20px;
  z-index: 1;
  position: relative;

  .bar {
    background-color: lightblue;
    z-index: 2;
    height: 100%;
  }

  .text {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.organ-picture {
  width: 50px;
  margin: 5px;
}

.saved-picture {
  width: 20px;
}

.result-content {
  padding: 0.8em;
  .text {
    text-align: left;
    color: #888;
    margin-bottom: 0.8em;
  }

  .counter {
    font-weight: 400;
    font-size: 40px;
    padding-right: 5px;
    text-align: left;
  }
}

.saved {
  .counter {
    color: #6DB502;

  }
}

.dead {
  .counter {
    color: #333333;

  }
}

.campaign button {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 250px;
  background: #bf3600;

  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: 50px;
  z-index: 0;
  cursor: pointer;
}

.campaign button.disabled {
  background: #e6bb8b;
  cursor: default;
}

.fallback {
  width: 300px;
  margin: 2em auto;

  h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}
