.wrapper {
  display: flex;
  flex-flow: row nowrap;

  font-weight: bold;
  text-align: center;
  height: 100%;
  min-height: 100%;
}

aside {
  width: 250px;
  flex: 0 auto;
}

.organ-list {
  border-right: 1px solid #ccc;
}

.result-content {
  border-left: 1px solid #ccc;
}

main {
  flex: 3 0px;
  overflow: auto;
  background: #ffffff;
}

.patient {
  width: 60px;
  display: inline-block;
  margin: 1em 3em 1em 0;

  img {
    width: 100%;
  }
}

.organ {
  margin: 0.2em;
  background: #ffffff;
}

.patient-health {
  width: 100%;
  height: 20px;
  z-index: 1;
  position: relative;

  .bar {
    background-color: lightblue;
    z-index: 2;
    height: 100%;
  }

  .text {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.organ-picture {
  width: 50px;
}

.saved-picture {
  width: 20px;
}

.result-content {
  p {
    text-align: left;
    color: #888;
    padding: 0.8em;
  }
  span {
    font-weight: bold;
    font-size: 40px;
    padding-right: 5px;
  }
}

.saved {
  span {
    color: #6DB502;

  }
}

.dead {
  span {
    color: #333333;

  }
}
