#welcome {

  z-index: 5;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background: #ffffff;
}

#startbtn {
  position: absolute;
  bottom: 80px;
  right: 80px;

  margin-top: 0em;
  text-align: right;
  img {
    width: 80px;
    cursor: pointer;
  }

}

.circle {
  color: #ffffff;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  margin: 2em auto;
  padding: 100px;

  background: #888;

  h1 {
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: 1em;
  }

  p {
    font-size: 1em;
    line-height: 1.4em;
  }

  position: relative;
}

.start-organ {
  position: absolute;
  width: 80px;

  &.kidney {
    top: 300px;
    left: -25px;
  }
  &.liver {
    top: 380px;
    left: 16px
  }

  &.lung {
    top: 436px;
    left: 83px;
  }

  &.heart {
    top: 463px;
    left: 170px;
  }
}

.description {
  text-align: center;
  color: #888;
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 5em 0 2em;
}
